.articlesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  border: solid;
  border-collapse: collapse;
}

.article {
  border: 1px solid #000000;
  padding: 5px;
  margin: 10px;
  box-sizing: border-box;
}
.articleHeader {
  text-align: center;
}
.articleTitle {
  padding: auto;
  text-align: center;
  color: black;
  text-decoration: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.article img {
  max-width: 100%;
  max-height: 100%;
  padding: 10px;
}
.sorting {
  display: flex;
  padding-left: 10px;
  padding: 10px;
}
.sortOrder {
  padding-left: 10px;
}

@media only screen and (min-width: 600px) {
  .App {
    grid-template-columns: 30% 70%;
    grid-template-rows: min-content auto;
    grid-template-areas: "article" "article img";
  }
}
